body {
  background: #333;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

p,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  opacity: 0.8;
}

/*Home Page*/

.name-style {
  font-size: 2.3rem;
  font-style: italic;
}

#home-section {
  background: url(../img/Bg-img-squashed.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  height: 300px;
  overflow: hidden;
}

@media (min-width: 768px) {
  #home-section {
    background-position: center;
    min-height: 900px;
  }
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
  #home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px;
    background: rgba(0, 0, 0, 0.8);
  }
}

#home-section .line-1,
.line-2,
.line-3,
.line-4 {
  position: relative;
  top: 35%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/*Hero animation*/
@media (min-width: 768px) {
  .line-1 {
    position: relative;
    top: 40%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  .line-2 {
    position: relative;
    top: 45%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  .line-3 {
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  .line-4 {
    position: relative;
    top: 60%;
    width: 24em;
    margin: 0 auto;
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  /* Animation */
  .anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 800ms steps(44) infinite normal;
  }

  .anim-typewriter-2 {
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 800ms steps(44) infinite normal;
    animation-delay: 5s;
  }

  .anim-typewriter-3 {
    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 800ms steps(44) infinite normal;
    animation-delay: 7s;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 30em;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.1);
    }
    to {
      border-right-color: transparent;
    }
  }
}

.arrow {
  max-width: 10%;
  position: relative;
}

#fuse-section h5 {
  line-height: 2rem;
}

#blocjams-section h5 {
  line-height: 2rem;
}

#quote-section h3 {
  line-height: 2.4rem;
}

/*About Page*/

#about-section {
  background: url(../img/About-page-image-squashed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 800px;
}

#about-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  background: rgba(0, 0, 0, 0.4);
}

#about-section .display-5 {
  font-size: 2rem;
  color: #cbd3dd;
  padding-top: 10rem;
}

@media (min-width: 768px) {
  #about-section .display-5 {
    line-height: 2.8rem;
  }
}

#about h5 {
  line-height: 1.8rem;
}
#about h6 {
  line-height: 1.5rem;
}
.about-picture-description {
  text-align: center;
}

.picture-caption {
  text-align: center;
}

#about .col {
  width: 50%;
}

/*FUSE CASE STUDY*/

.box-shadow {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fuse-case-study-section .row {
  margin-top: 5rem;
}

#discovery-and-research h1 {
  font-family: "Merriweather";
  margin: -15px;
  padding-left: auto;
}

.quote {
  font-size: 3rem;
}

#information-architecture h1 {
  font-family: "Merriweather";
  margin: -15px;
}

#information-architecture .user-stories {
  background-image: url(../img/all_user-stories.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

#information-architecture .user-flows {
  background-image: url(../img/Background-image-user_flows.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

#information-architecture .wireframes {
  background-image: url(../img/wireframe-bg-img-75o.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#branding-identity h1 {
  font-family: "Merriweather";
  margin: -15px;
}

#prototypes-testing h1 {
  font-family: "Merriweather";
  margin: -15px;
}

#conclusion h1 {
  font-family: "Merriweather";
  margin: -15px;
}

.mouse {
  margin: 0 auto;
}

/*bottom section*/
#bottom-section {
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -200px;
  text-align: center;
  color: #fff;
}

/*footer*/

#main-footer i {
  font-size: 2rem;
}
