body {
  background: #333;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

p,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  opacity: 0.8;
}

/*Home Page*/
#home-section {
  background: url(../img/Desktop-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  min-height: 300px;
}

@media (min-width: 768px) {
  #home-section {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    min-height: 900px;
  }
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  #home-section .dark-overlay {
    min-height: 900px;
  }
}

/*About Page*/

#about-section {
  background: url(../img/About-page-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 800px;
}

#about-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
  background: rgba(0, 0, 0, 0.7);
}

#about-section .display-5 {
  font-size: 2rem;
  color: #cbd3dd;
  padding-top: 10rem;
}

@media (min-width: 768px) {
  #about-section .display-5 {
    line-height: 2.5rem;
  }
}

.about-picture-description {
  text-align: center;
}

.picture-caption {
  text-align: center;
}

#about .col {
  width: 50%;
}

/*FUSE CASE STUDY*/

#fuse-case-study-section .row {
  margin-top: 5rem;
}

#overview {
  background-color: rgb(147, 199, 202);
  border-top: #333 solid 1px;
}

#discovery-and-research h1 {
  font-family: "Merriweather";
}

#information-architecture .user-flows {
  background-image: url(../img/Background-image-user_flows.png);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

#information-architecture .user-flow-border {
  background-color: #fff;
}

#information-architecture .wireframes {
  background-image: url(../img/wireframe-bg-img-75o.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*bottom section*/
#bottom-section {
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

/*footer*/

#main-footer i {
  font-size: 2rem;
}
